<div class="container">
    <div class="page-header">
    <h3>C++ Source Code Analyzer</h3>
    </div>
    <textarea class="form-control" rows="9" ng-model="code"></textarea>
    
    <div align="right" class="well well-sm">
        <a href="" class="btn btn-primary" ng-click="analyze(code)">Analizeaza</a>
    </div>
    
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-danger" role="alert" ng-show="paranteze" style="margin:0px;">Se pare ca o paranteza nu este inchisa/deschisa</div>
            <div class="alert alert-danger" role="alert" ng-show="acolade" style="margin:0px;"> Se pare ca o acolada nu este inchisa sau deschisa</div>
            <div class="alert alert-danger" role="alert" ng-repeat="eroare in lipsa_punct_si_virgula" style="margin:0px;">
                Lipsa <kbd>;</kbd> la linia: {{eroare.linie}}
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
              <div class="panel-heading">Cuvinte cheie </div>
                <div style="height:300px; overflow:auto;">
                    <table class="table" style="margin-bottom:0px;">
                        <tr ng-repeat="cuvinte in cuvinte_cheie | unique:'val'" class="success">
                            <td>{{cuvinte.val}}</td>
                            <td>{{cuvinte.tip}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
              <div class="panel-heading">Operatori </div>
                <div style="height:300px; overflow:auto;">
                     <table class="table" style="margin-bottom:0px;">
                        <tr ng-repeat="semn in semne | unique:'val'" ng-class="{success:semn.tip=='Separator',info:semn.tip=='Operator logic',danger:semn.tip=='Operator matematic'}">
                            <td>{{semn.val}}</td>
                            <td>{{semn.tip}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
              <div class="panel-heading">Variabile/Constante </div>
                <div style="height:300px; overflow:auto;">
                    <table class="table" style="margin-bottom:0px;">
                        <tr ng-repeat="variabila in variabile | unique:'val'" ng-class="{info:variabila.tip=='Variabila',danger:variabila.tip=='Constanta'}">
                            <td>{{variabila.val}}</td>
                            <td>{{variabila.tip}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>