<div class="container">
    <div class="page-header">
    <h3>Javascript Source Code Analyzer</h3>
    </div>
    <textarea class="form-control" rows="9" ng-model="code"></textarea>
    
    <div align="right" class="well well-sm">
        <a href="" class="btn btn-primary" ng-click="analyze(code)">Analyze</a>
    </div>
    
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default">
              <div class="panel-heading">Cuvinte cheie</div>
              <div class="panel-body">
                
              </div>
                <table class="table">
                    <tr ng-repeat="cuvinte in cuvinte_cheie">
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
              <div class="panel-heading">Semne de punctuatie</div>
              <div class="panel-body">
                
              </div>
                 <table class="table">
                    <tr ng-repeat="semn in semne_de_punctuatie">
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
              <div class="panel-heading">Variabile</div>
              <div class="panel-body">
                
              </div>
                <table class="table">
                    <tr ng-repeat="variabila in variabile">
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>